<div class="jumbotron jumbotron-fluid banner position-relative">
  <div class="container text-center">
    <h1 class="display-4">Video Games Database</h1>
    <p class="lead">The best database ever !!</p>
  </div>
  <div class="overlay position-absolute w-100 h-100 bg-dark"></div>
</div>
