{% extends "layout/index.njk" %}

{% block title %}
  <title>GD: Games</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <h1>Games</h1>
  <ul>
    {% for game in games %}
      <li>
        <img src="{{game.cover.thumbnail}}" alt="{{game.name}} cover">
        <h3><a href="/games/{{game.slug}}">{{game.name}}</a></h3>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
