{% extends "layout/index.njk" %}

{% block title %}
  <title>GD: {{game.name}}</title>
{% endblock %}

{% block content %}
  <h1>{{game.name}}</h1>
  <img src="{{game.cover.url}}" alt="{{game.name}} cover">
  <p>
    available on
    {% for platform in game.platforms %}
      {{platform.name}}
    {% endfor %}
  </p>
  <p>{{game.summary}}</p>
  <h2>Screenshots</h2>
  {% for screenshot in game.screenshots %}
    <img src="{{screenshot.url}}">
  {% endfor %}
{% endblock %}
