{% extends "layout/index.njk" %}

{% block content %}
  <div class="container d-flex justify-content-between">
    <div class="w-50 d-flex justify-content-center">
      <a href="/games">
        Explore Video Games
      </a>
    </div>
    <div class="w-50 d-flex justify-content-center">
      <a href="/platforms">
        Explore Platforms
      </a>
    </div>
  </div>
{% endblock %}
