{% extends "layout/index.njk" %}

{% block beforeContainer %}
  {% include "components/banner.njk" %}
{% endblock %}

{% block content %}
  {% include "components/links-buttons.njk" %}
{% endblock %}
